@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0;
  background: #fff;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin: 100px auto 0;
  align-items: center;
  max-width: 500px;
  padding: 16px;
}

.textBook {
  font-size: 2rem;
  font-weight: 500;
  color: #000;
}

#book-container{
  width: 100%;
  border:  2px black solid;
  padding: 10px;
}

#book-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

tr{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.getClose{
  position: relative;
  left: -90px;
}
#book-form button{
float: right; 
margin-top: 10px;
}

#book-form input{
  margin-top: 10px;
  position: relative;
}
